{include file="../application/super/view/header.html"/}
  </head>
  
  <body>
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" method="post">
          <input type="text" name="all"  placeholder="请输入关键字" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','./member_add.html',600,400)"><i class="layui-icon"></i>添加</button>
        <span class="x-right" style="line-height:40px">共有数据：{$admin.count} 条</span>
      </xblock>
      <table class="layui-table x-admin">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>ID</th>
            <th>用户名</th>
            <th>头像</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>地址</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody>
          {volist name="admin.data" id="vo"}
            <tr>
              <td>
                <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>
              </td>
              <td>{$vo.id}</td>
              <td>{$vo.name}</td>
              <td><img src= "/Postbar/Uploads/{$vo.img}" style="border-radius: 50%;width:80px;height:80px;margin-left: 25%"></td>
              <td>{$vo.number}</td>
              <td>{$vo.email}</td>
              <td>{$vo.city}</td>
              <td>{:date('Y-m-d H:i:s',$vo['date'])}</td>
              <td class="td-status">
                {if condition="$vo.is_show == 1"}
                  <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                {else/}
                  <span class="layui-btn layui-btn-danger layui-btn-mini">已禁用</span>
                {/if}
              </td>
              <td class="td-manage">
                {if condition="$vo.is_show eq 1"}
                  <a href="javascript:stop({$vo.id},0)"  title="启用">
                    <i class="layui-icon">&#xe601;</i>
                  </a>
                {else/}
                  <a href="javascript:stop({$vo.id},1)"  title="禁用">
                    <i class="layui-icon">&#xe601;</i>
                  </a>
                {/if}
                <a title="编辑"  onclick="x_admin_show('编辑','member_edit.html?id={$vo.id}',600,400)" href="javascript:;">
                  <i class="layui-icon">&#xe642;</i>
                </a>
                <a onclick="x_admin_show('修改密码','member_password.html?id={$vo.id}',600,400)" title="修改密码" href="javascript:;">
                  <i class="layui-icon">&#xe631;</i>
                </a>
                <a title="删除" href="javascript:del({$vo.id});">
                  <i class="layui-icon">&#xe640;</i>
                </a>
              </td>
            </tr>
          {/volist}
        </tbody>
      </table>
      <div class="pagination">
        {$page|raw}
      </div>
    </div>
  </body>
</html>
<script>
    function stop(id,type){
        if(id == null){
            layer.msg('参数错误!');
            return false;
        }else{
            $.ajax({
                url:'stop',
                data:{
                    id:id,
                    type:type
                },
                type:'GET',
                success:function(res){
                    layer.open({
                        title:'提示信息!',
                        content:res.msg,
                        yes:function(){
                            window.location.reload();
                        }
                    })
                },
                error:function(){
                    layer.msg('网络异常!');
                }
            })
        }
    }
    function del(id) {
        layer.confirm("确定要删除吗?此方法不可逆!",{icon:5},function(index){
            if(index){
                if(id == null){
                    layer.msg('参数错误!');
                    return false;
                }else{
                    $.ajax({
                        url:'del',
                        data:{
                            id:id
                        },
                        type:'GET',
                        success:function(res){
                            layer.open({
                                title:'提示信息',
                                content:res.msg,
                                yes:function () {
                                    window.location.reload();
                                }
                            })
                        },
                        error:function(){
                            layer.msg('网络异常!');
                        }
                    })
                }
            }
        });
    }
</script>