{include file="../application/super/view/header.html"/}
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="L_username" class="layui-form-label">
                  昵称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="L_username" name="name" disabled value="{$admin.name}" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>旧密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="password" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_pass" class="layui-form-label">
                  <span class="x-red">*</span>新密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="newpass" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  6到16个字符
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
                  <span class="x-red">*</span>确认密码
              </label>
              <div class="layui-input-inline">
                  <input type="password" id="L_repass" name="repass" required="" lay-verify="required"
                  autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button onclick="upPass()" class="layui-btn" lay-filter="save" lay-submit="">
                  修改
              </button>
          </div>
      </form>
    </div>
    <script>
        function upPass(id) {
            if(id == null){
                layer.msg('参数错误!');
                return false;
            }
            var password = $("#password").val();
            var newpass = $("#newpass").val();
            var repass = $("#repass").val();
            var arr = [password,newpass,repass];
            for (var i = 0; i < arr.length; i++){
                if(arr[i] == ""){
                    layer.msg('必填项不能为空!');
                    return false;
                }
            }
            if(newpass != repass){
                layer.msg('两次密码不一致!');
                return false;
            }else{
                $.ajax({
                    url:'member_add',
                    data:{
                        id:id,
                        password:password,
                        newpass:newpass,
                        repass:repass,
                    },
                    type:'POST',
                    success:function(res){
                        layer.open({
                            title:'提示信息!',
                            content:res.msg,
                            yes:function(){
                                window.location.reload();
                            }
                        })
                    },
                    error:function(){
                        layer.msg('网络异常!',{icon:5});
                    }
                })
            }
        }
    </script>
  </body>

</html>