<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Title here -->
<meta name="description" content="踩踩点" />
<meta name="keywords" content="踩踩点" />
<meta name="author" content="踩踩点" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=no" />
<!-- Styles -->
<link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/shop/css/boot.css" />
<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/shop/css/style.css" />
<link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/shop/css/res.css" />
<script type="text/javascript" src="http://localhost/Postbar/public/static/shop/js/boot.js"></script>
<!-- Slider JS -->
<script type="text/javascript" src="http://localhost/Postbar/public/static/shop/js/res.js"></script>
<!-- Custom JS -->
<script type="text/javascript" src="http://localhost/Postbar/public/static/shop/js/custom.js"></script>
<script src="/Postbar/public/static/shop/index/index.js" type="text/babel"></script>