<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>
	<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>
	<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
	<script src="/Postbar/public/static/js/jquery.js"></script>
	<script type="text/javascript" src="http://localhost/Postbar/public/static/lib/layer/2.4/layer.js"></script>
