<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="http://localhost/Postbar/public/static/img/logo.png"/>
    <link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="http://localhost/Postbar/public/static/h-ui.admin/css/style.css"/>
    <script type="text/javascript" src="http://localhost/Postbar/public/static/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://localhost/Postbar/public/static/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="http://localhost/Postbar/public/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="http://localhost/Postbar/public/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->
    <script type="text/javascript" src="http://localhost/Postbar/public/static/lib/jquery.contextmenu/jquery.contextmenu.r2.js"></script>
    <style>
        /*分页*/
        .pagination {}
        .pagination li {display: inline-block;margin-right: -1px;padding: 5px;border: 1px solid #e2e2e2;min-width: 20px;text-align: center;}
        .pagination li.active {background: #009688;color: #fff;border: 1px solid #009688;}
        .pagination li a {display: block;text-align: center;}
    </style>